In [1]:
age=32
height=6.1
name="Naveen"
isStudent=True

print("Age:",age)
print("Height:", height)
print("Name:", name)
print("isStudent:", isStudent)

Age: 32
Height: 6.1
Name: Naveen
isStudent: True

In [4]:
## Variables name case sensitive

firstName = "Naveen"
FirstName = "Nav"

print(firstName)
print(FirstName)
firstName==FirstName

Naveen
Nav

False

In [11]:
## Python is dynamically typed, type of a variable is determined at runtime
age = 25
print(age, type(age))
age = "Naveen"
print(age, type(age))
age = 2.5
print(age, type(age))

25 <class 'int'>
Naveen <class 'str'>
2.5 <class 'float'>

In [ ]:
##Type conversion int to String
age = 25
print(type(age))
age_str = str(age)
print(type(age_str))


##Type conversion String to int
age = '25'
print(int(age))


name = 'Naveen'
print(int(name)) ## we cannot convert string to int

<class 'int'>
<class 'str'>
25

ValueError: invalid literal for int() with base 10: 'Naveen'

In [9]:
## Type conversion int to float
height = 5.1
print(int(height))
## Type conversion float to int
height = 5
print(float(height))

5
5.0

In [ ]:
## User need to enter value
age=input("What is the age?")
print(age, type(age))


age=int(input("What is the age?")) ## It will take only int type
print(age, type(age))

25 <class 'str'>

ValueError: invalid literal for int() with base 10: 'hell'