In [1]:
def square(x):
    return x * x

square(4)

16

In [4]:
numbers=[1,2,3,4,5,6,7,8]
map(square, numbers) ## Two parameters function name and iterable 
print(list(map(square, numbers)))

[1, 4, 9, 16, 25, 36, 49, 64]

In [5]:
## Lambda function with map

numbers = [1,2,3,4,5,6,7,8]
list(map(lambda x:x*x, numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [8]:
## Map Multiple Iterables

numbers1=[1,2,3]
numbers2=[4,5,6]


added_numbers=map(lambda x,y:x+y, numbers1, numbers2)
print(list(added_numbers))

[5, 7, 9]

In [9]:
## map() to convert list of strings to integers

str_numbers = ['1','2','3','4','5']
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4, 5]

In [10]:
words = ['banana','apple','orange']
upper_words = list(map(str.upper, words))
print(upper_words)

['BANANA', 'APPLE', 'ORANGE']